

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color:#DDEEFF;
	background: url('file:///Users/elturner/Documents/code/html/samanderic/public_html/pics/woods.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	letter-spacing:1px;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

.hero-unit {
	height: 100%;
	width: 40%;
	min-height: 300px;
	padding: 60px;
	margin-bottom: 30px;
	font-size: 14px;
	font-weight: 200;
	font-color: #395C77;
	line-height: 30px;
	text-align: center;
	vertical-align: middle;
	color: #395C77;
	background-color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

p {
	line-height: 1.3em;
	font-size:1.3em;
}

footer p {
	font-size:.6em;
}
















